In [1]:
from selenium import webdriver
import pandas as pd

In [2]:

driver = webdriver.Chrome()
driver.get('https://www.premierleague.com/tables')

try:
    driver.find_element_by_css_selector('.closeBtn').click()
except:
    print("no layer")


eplranking_selector = driver.find_element_by_css_selector('#mainContent')
items = eplranking_selector.find_elements_by_css_selector('.tableBodyContainer tr:not(.expandable)')


df = pd.DataFrame(columns=["Position", "club", "played", "won", "drawn", "lost", "GF", "GA", "GD", "points"])


for i in range(20):
    Position = items[i].find_elements_by_css_selector('tr>#Tooltip')[0].text
    club = items[i].find_elements_by_css_selector('td>a')[0].text
    played = items[i].find_elements_by_css_selector('td')[3].text
    won = items[i].find_elements_by_css_selector('td')[4].text
    drawn = items[i].find_elements_by_css_selector('td')[5].text
    lost = items[i].find_elements_by_css_selector('td')[6].text
    GF = items[i].find_elements_by_css_selector('td')[7].text
    GA = items[i].find_elements_by_css_selector('td')[8].text
    GD = items[i].find_elements_by_css_selector('td')[9].text
    points = items[i].find_elements_by_css_selector('td')[10].text
    
    data = {"Position": Position,
            "club": club,
            "played": played,
            "won": won,
            "drawn": drawn,
            "lost": lost,
            "GF": GF,
            "GA": GA,
            "GD": GD,
            "points": points}
    
    df.loc[len(df)] = data
        
    driver.close

df

no layer

,Position,club,played,won,drawn,lost,GF,GA,GD,points
0,1,Manchester City,33,28,3,2,93,25,+68,87
1,2,Manchester United,34,23,5,6,65,26,+39,74
2,3,Liverpool,34,20,10,4,78,35,+43,70
3,4,Tottenham Hotspur,34,20,8,6,66,31,+35,68
4,5,Chelsea,33,18,6,9,57,33,+24,60
5,6,Arsenal,33,16,6,11,62,45,+17,54
6,7,Burnley,33,14,10,9,33,29,+4,52
7,8,Leicester City,33,11,10,12,49,47,+2,43
8,9,Everton,34,11,9,14,39,54,-15,42
9,10,Newcastle United,33,11,8,14,35,42,-7,41
10,11,Bournemouth,35,9,11,15,41,58,-17,38
11,12,Watford,34,10,7,17,42,60,-18,37
12,13,Brighton and Hove Albion,34,8,12,14,32,47,-15,36
13,14,West Ham United,33,8,11,14,41,59,-18,35
14,15,Huddersfield Town,34,9,8,17,27,54,-27,35
15,16,Crystal Palace,34,8,10,16,36,54,-18,34
16,17,Swansea City,33,8,9,16,27,46,-19,33
17,18,Southampton,33,5,13,15,33,53,-20,28
18,19,Stoke City,34,6,10,18,31,64,-33,28
19,20,West Bromwich Albion,34,4,12,18,27,52,-25,24